header {
    background-color: #096147; 
    color: white;
}


.site {
background-color: #096147;
  color: white;
  padding: 1em;
}

.verde {
    background-color: #096147;
    color: white;
}

.verdeTexto {
    color: #096147 !important;
}