body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b6d4c;
    color:  #0b6d4c;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#0b6d4c;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #0b6d4c;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color:  #0b6d4c;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 50px;
    background: url('anime-background.jpg') no-repeat center center/cover;
    color: #0b6d4c;
}

.hero button {
    padding: 10px 20px;
    background: #e67e22;
    border: none;
    color: #0b6d4c;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.popular {
    padding: 20px;
    text-align: center;
}

.anime-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.anime-item {
    background: #0b6d4c;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.anime-details {
    text-align: center;
    padding: 30px;
    background: #0b6d4c;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.anime-details button {
    padding: 10px 20px;
    background: #e67e22;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.rating {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #e67e22;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Faz o body ocupar toda a altura da tela */
}

main {
    flex: 1; /* Ocupa o espaço restante, empurrando o footer para baixo */
}

footer {
    background:  #0b6d4c;
    color: white;
    text-align: center;
    padding: 10px;
}
