header {
    background-color: #0f2a1d; 
    color: white;
}


.site {
background-color: #0f2a1d;
  color: white;
  padding: 1em;
}

.verde {
    background-color: #0f2a1d;
    color: white;
}

.verdeTexto {
    color: #0f2a1d !important;
}